

#main{
height: 60%;
background-color: red;
width: 60%;
float: left;
margin-left: 200px;
border:  1px solid green;

}

.aside{
	height: 30%;
	background-color: blue;
	width:10%;
	


}

#aside1{
	float: left;
	margin-left: 40px;

}

#aside2{
	float: right; 
	margin-right: 40px;
}
#contaner{
	height: 1000px;
	width: 2000px;
	background-color: green;


border: 1px solid black;

}

#footer{
	height: 100px;
	width:  700px;
	background-color: orange;
	clear: left;
	margin: 0px auto;
	position:relative;
	top:40px;

}

#header{
	height: 200px;
	width: 50px;
	background-color: red;
	margin: 5px auto;



}